@import '../../exports/constants.scss';

.list-item-container {
  .list-item-icon {
    margin-bottom: 8px;
    margin-right: 10px;
  }

  .list-item-link {
    color: rgb(77, 77, 255);
    font-size: x-large;

    &:hover {
      color: rgb(173, 173, 255);
    }
  }
}
