@import '../../exports/constants.scss';

.placeholder-shop-page {
  .placeholder-card {
    height: 400px;
    min-width: 250px;

    .placeholder-card-image {
      height: 250px;
      width: auto;
    }
  }
}

.profile-button-placeholder:disabled {
  background-color: $brand-yellow !important;
  border-color: $brand-yellow !important;
}

.profile-info-container {
  margin-top: 10px;
  text-align: center;
}

.update-profile-container-mobile {
  margin-top: 30px;
}

.cart-checkout-button-placeholder {
  border: unset !important;
}
