.profile-container {
  .profile-name-container {
    .profile-name {
      font-size: 2.5rem;
      font-weight: 700;
    }
  }

  .profile-email-container {
    .profile-email {
      font-size: 1.5rem;
    }
  }
}
