// Screen width 991px and under
@media only screen and (max-width: 991px) {
  .navbar {
    .navbar-toggler {
      margin-right: 15px;
    }

    .navbar-nav {
      margin-left: 10px;
    }

    .dropdown-menu {
      width: fit-content;
    }
  }
}

// Screen width 767px and under
@media only screen and (max-width: 767px) {
  .navbar {
    border-radius: 0;
    margin-top: 0;
  }
}
