@import '../../exports/constants.scss';

.navbar {
  backdrop-filter: blur(9px);
  background-color: rgba(255, 255, 255, 0.5) !important;
  border-radius: 50px;
  margin-top: 15px;
  margin-bottom: 15px;

  .navbar-logo {
    border-radius: 30px;
    width: 260px;
  }

  .nav-link {
    color: black !important;

    &:hover {
      color: grey !important;
    }
  }

  .navbar-right-link {
    margin-right: 10px;
  }

  .avatar-dropdown-link > .dropdown-toggle::after {
    display: none !important;
  }

  .cart-container {
    position: relative;
    width: 50px;

    button,
    span {
      position: absolute;
    }

    span {
      background-color: $brand-yellow !important;
      left: 32px;
      top: 34px;
    }
  }
}
