.navbar {
  background-color: rgba(255, 255, 255, 0.5) !important;
  border-radius: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.navbar-logo {
  border-radius: 30px;
  width: 250px;
}

.navbar-search-bar-container {
  margin-left: 15px;

  .navbar-search-bar {
    width: 300px !important;
  }
}

.navbar-right-link {
  margin-right: 10px;
}

.avatar-dropdown-link > .dropdown-toggle::after {
  display: none !important;
}
