@import '../../exports/constants.scss';

.detail-social-button-linkedin {
  background-color: $linkedin !important;
  color: white;

  &:hover {
    background-color: $linkedin-hover !important;
  }
}
