.detail-container {
  padding: 15px 40px 40px 40px;

  .detail-back-button {
    margin-bottom: 20px;
  }
}

.review-container {
  .review-overall-container {
    min-width: 155px;
    text-align: center;
  }
}

.review-divider {
  margin-bottom: 40px !important;
  margin-top: 40px !important;
}
