.checkout-success-container {
  text-align: center;

  .checkout-success-heading-hooray {
    margin-top: 30px;
  }

  .checkout-success-text-bold {
    span {
      font-weight: 500;
    }
  }

  .checkout-success-text-order-id {
    margin: 20px 0;
  }
}
