@import '../../exports/constants.scss';

.checkout-payment-container {
  .checkout-card-error-text {
    color: rgb(207, 0, 0);
  }

  .checkout-total-pay-container {
    margin-top: 40px;
    text-align: center;

    h2 > span {
      color: $brand-dark-yellow;
    }

    button {
      background-color: $brand-yellow;
      margin-top: 10px;
      width: 60%;

      &:hover {
        opacity: 0.75;
      }
    }
  }

  .checkout-logos-container {
    margin-top: 20px;
  }
}
