@import '../../exports/constants.scss';

.cart-container {
  .cart-heading {
    margin-bottom: 20px;
  }

  .cart-checkout-container {
    .cart-checkout-button {
      background-color: $brand-yellow;
      margin-top: 30px;
      width: 100%;

      &:hover {
        opacity: 0.75;
      }
    }
  }
}
