@import '../../exports/constants.scss';

.support-margin-bottom {
  margin-bottom: 20px;
}

.support-form {
  button {
    background-color: $brand-yellow !important;

    &:hover {
      opacity: 0.75;
    }
  }
}
