@import '../../exports/constants.scss';

.cart-checkout-totals-container {
  border-radius: 10px;
  // box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  padding: 10px;

  .cart-checkout-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .cart-checkout-value {
    font-weight: 500;
    text-align: right;
  }

  .cart-checkout-total-container {
    margin-top: 20px;

    .cart-checkout-title {
      font-size: x-large;
      font-weight: 700;
    }

    .cart-checkout-value {
      color: $brand-dark-yellow;
      font-size: x-large;
      font-weight: 700;
    }
  }
}
