.search-bar-container {
  margin-bottom: 15px;
  width: 100%;

  .search-bar-input-group {
    color: black;
    margin: 0 auto;
    width: 30%;

    input:focus {
      background-color: white;
    }
  }
}
