.search-bar-container {
  margin-bottom: 15px;

  .search-bar-input-group {
    color: black;
    width: 50%;

    input:focus {
      background-color: white;
    }
  }
}

.filter-container {
  select {
    background-color: #e2e7f0;
  }
}
