.home-grid-item {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;

  .home-grid-item-container {
    color: black;
    height: 100%;

    .home-grid-item-link:hover {
      color: unset;
    }

    h1 {
      font-size: 3.5rem;
      font-weight: 700;
      text-align: center;
    }
  }
}
